        @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&display=swap');
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        
        h1 {
            font-size: 45px;
            text-align: center;
            font-style: italic;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-shadow: 0 0 20px #Ffffff;
        }
        
        .between {
            text-align: right;
            margin-top: 0.5rem;
            padding-right: 1rem;
            margin: auto;
        }
        
        .btn-again {
            text-align: left;
            margin-top: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            margin: auto;
            display: inline;
        }
        
        .number {
            text-align: center;
            display: block;
            padding: 1rem;
            border: 1em;
            margin: 20px;
        }
        
        .left {
            text-align: left;
            color: var(--primary);
            display: block;
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 600px;
            margin: 20px;
        }
        
        .guess {
            text-align: right;
            margin-top: 0.5rem;
            color: var(--primary);
            display: block;
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 600px;
            margin: 20px;
        }
        
        .btn-check {
            text-align: left;
            margin-top: 0.5rem;
            color: var(--primary);
            display: block;
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 600px;
            margin: 20px;
        }
        
        .right {
            text-align: right;
            margin-top: 0.5rem;
            color: var(--primary);
            display: block;
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 600px;
            margin: 20px;
        }
        
        .message {
            text-align: right;
            margin-top: 0.5rem;
            color: var(--primary);
            display: block;
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 600px;
            margin: 20px;
        }
        
        .label-score {
            text-align: right;
            margin-top: 0.5rem;
            color: var(--primary);
            display: block;
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 600px;
            margin: 20px;
        }
        
        .label-highscore {
            text-align: right;
            margin-top: 0.5rem;
            display: block;
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 600px;
            margin: 20px;
        }